<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
        <link rel="stylesheet" href="{{ asset('assets/css/style-header.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/style-form.css') }}">
    </head>
    <header>
			<a href="/"><h1>Portfolio</h1></a>
			<nav>
				<ul class="nav_links">
					<a href="/"><li>Accueil</li></a>
                    <a href="/"><li>Se connecter</li></a>
                     <a href="/register"><li>S'inscrire</li></a>
					<a href="/projet"><li>Projets</li></a>
					<a href="/cv"><li>Mon CV</li></a>
				</ul>
			</nav>
		</header>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
