{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
{% block body %}
<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
	<main id="accueil">
			<section class="a-propos" id="a-propos">
				<article>
					<h1>Bonjour !</h1>
					<p>
					Je m'appelle Michael Massol, je suis un étudiant passionné par le développement et la conception de sites web.
					</p>
				</article>
				<img src="./assets/images/Michael.jpg"/>
			</section>
			<section class="competences" id="competences">
				<article>
					<h1>Compétences</h1>
					<p>Durant mes études en DUT MMI, j'ai acquéris des compétences dans plusieurs domaines variés.</p>
				<br/>
				<br/>
				<br/>
					<h2>Programmation</h2>
					<ul class="competences-web">
						<li>
							<h2>Front-End</h2>
							<img src="./assets/images/front-end.jpg" alt="image front end"/>
							<i>
								<p>HTML: 5/5</p>
								<p>CSS:4.5/5</p>
								<p>JavaScript: 4/5</p>
								<p>React.js: 3/5</p>
							</i>
						</li>
						<li>
							<h2>Back-End</h2>
							<img src="./assets/images/back-end.jpg" alt="image back end"/>
							<i>
							<p>PHP: 3/5</p>
							<p>mySQL: 3/5</p>
							<p>Symfony: 2.5/5</p>
							</i>
						</li>
						<li>
							<h2>CMS</h2>
							<img src="./assets/images/CMS.jpg" alt=""/>
							<i><p>WordPress: 3/5</p></i>
						</li>
					</ul>
				</article>
				<article>
					<h2>Design</h2>
					<ul class="competences-design">
						<li>
							<img src="./assets/images/photoshop.png" alt="image logo adobe photoshop"/>
							<i><p>Photoshop: 3/5</p></i>
						</li>
						<li>
							<img src="./assets/images/illustrator.png" alt="image logo adobe illustrator"/>
							<i><p>Illustrator: 2.5/5</p></i>
						</li>
					</ul>
				</article>
				<article>
					<h2>Communication</h2>
					<ul class="competences-design">
						<li>
							<img src="./assets/images/veille.jpg" alt="image représentive de la veille informationnelle"/>
							<p><i><strong>Veille informationnelle <br>(outil: Mention) 3/5<strong></i></p>
						</li>
				</article>
			</section>
			<section class="realisation" id="realisation">
				<article style="color: white;">
					<h1 style="color: black;">Mes Projets</h1>
					<h2 id="mini-desc">quelques projets réalisés durant mes études.</h2>
				</article>
				<article>
				<button><a href="/projet" style="background-color:purple; padding:10px;">Voir Projets</a></button>
					<ul class="projets">
						<li>
						<a href="https://github.com/Michael-Massol/Restaurant-App" target="_blank">
							<img src="./assets/images/restaurantapp-1.png" alt="image projet restaurant app"/>
						</a>
						</li>
						<li>
						<a href="https://github.com/Michael-Massol/moviesapp" target="_blank">
							<img src="./assets/images/movieapp-1.png" alt="image front end"/>
						</a>
						</li>
					</ul>
				</article>
			</section>
		</main>
{% endblock %}
